.header{
    position: relative;
    width: auto;
    background-color: #6b59c2;
    height: 80px;
    margin-top: 0px;
    margin-left: 0px;
}

.name{
    position: absolute;  
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 32px;
    color: aliceblue;
}

.logo{
    position: absolute;
    margin-left: 180px;
    margin-top: 15px;
    width: 50px;
    height: 50px;
    background-image: '../../assets/icon.png';
}